@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.stage {
  background: transparent;
  /* width: 560px; */
  margin: 0em 1.5em 3em;
  box-shadow: 1px 2px 11px white, inset 1px 1px 2px white;
  padding:1em 0 1em;
  position: relative;
}

.stage-content {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: black;
  /* text-shadow: 1px 1px 3px #eb8479; */
  /* top: 50%; */
  margin-top: 25px; 
  padding: 0px 20px;
  font-size: 1.1em;
  font-weight: bolder;
  text-align: center;
}

.stage-content:after {
  content: '';
  text-align: center;
  display: block;
  text-transform: uppercase;
  transform: translateY(0.5em);
  /* font-size: 1.1em; */
  padding-top: 10px;
  
}

.curtain-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.curtain-panel {
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.curtain-panel .curtain {
  width: 50%;
  background-color: #9dd0c8;
  position: relative;
  transition: transform 0.5s ease-out;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.curtain-panel .curtain:before {
  content: attr(data-title);
  text-align: center;
  width: 200%;
  position: absolute;
  top: 50%;
  line-height: 0;
  font-size: 1.3em;
  text-shadow: 1px 1px 3px white ;
  color: black;
}

.curtain-panel .left-curtain:before {
  left: 0;
}

.curtain-panel .right-curtain:before {
  right: 0;
}

.curtain-panel .curtain:after {
  content: '';
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, rgba(0, 0, 0, 0) 12px, #eb8479 13px);
  display: block;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.curtain-trigger {
  visibility: hidden;
  position: absolute;
}

.curtain-trigger:checked ~ .left-curtain {
  transform: translateX(calc(-100% + 2em));
}

.curtain-trigger:checked ~ .right-curtain {
  transform: translateX(calc(100% - 2em));
}